* {
  margin: 0%;
  padding: 0%;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 50vh;
  height: 50vh;
  vertical-align: center;
  
}

.board-square {
  border: 1px solid black;
  width: 100%;
  background-color: teal;
  justify-self: center;
}

.board-square:hover {
  background-color: rgb(4, 168, 168);
}

.winner {
  background-color: rgb(89, 255, 47);
}